
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');



*{
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #000;
}

header,
footer{
  position: fixed;
  left: 0;
  right: 0;
}

nav ul{
  display: flex;
  justify-content: space-between;
}

nav li{
  margin-left: 1em;
}

/*header styles*/
#main-header,
#main-footer {
  min-width: 100%;
  padding: 4em;
  display: flex;
  justify-content: space-between;
}

#main-header{
  top: 0;
}

.site-title h1{
  margin: 0;
  font-size: 3.6rem;
}

#main-nav a,
#main-footer a{
  font-weight: 700;
}

/*footer styles*/
#main-footer{
  bottom: 0;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

#main-header h2{
  margin: 0;
}
